<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AnnouncementController</servlet-name>
  	<display-name>AnnouncementController</display-name>
  	<description></description>
  	<servlet-class>controllers.AnnouncementController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginController</servlet-name>
  	<display-name>LoginController</display-name>
  	<description></description>
  	<servlet-class>controllers.LoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UploadAssignmentController</servlet-name>
  	<display-name>UploadAssignmentController</display-name>
  	<description></description>
  	<servlet-class>controllers.UploadAssignmentController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowAssignmentsController</servlet-name>
  	<display-name>ShowAssignmentsController</display-name>
  	<description></description>
  	<servlet-class>controllers.ShowAssignmentsController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AssignmentDetailController</servlet-name>
  	<display-name>AssignmentDetailController</display-name>
  	<description></description>
  	<servlet-class>controllers.AssignmentDetailController</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>UploadLectureController</servlet-name>
  	<display-name>UploadLectureController</display-name>
  	<description></description>
  	<servlet-class>controllers.UploadLectureController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowLectureController</servlet-name>
  	<display-name>ShowLectureController</display-name>
  	<description></description>
  	<servlet-class>controllers.ShowLectureController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UploadDocumentController</servlet-name>
  	<display-name>UploadDocumentController</display-name>
  	<description></description>
  	<servlet-class>controllers.UploadDocumentController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UploadQuizController</servlet-name>
  	<display-name>UploadQuizController</display-name>
  	<description></description>
  	<servlet-class>controllers.UploadQuizController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowQuizController</servlet-name>
  	<display-name>ShowQuizController</display-name>
  	<description></description>
  	<servlet-class>controllers.ShowQuizController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowProfileController</servlet-name>
  	<display-name>ShowProfileController</display-name>
  	<description></description>
  	<servlet-class>controllers.ShowProfileController</servlet-class>
  </servlet>
<servlet>
  	<servlet-name>ChangePassController</servlet-name>
  	<display-name>ChangePassController</display-name>
  	<description></description>
  	<servlet-class>controllers.ChangePassController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AnnouncementController</servlet-name>
  	<url-pattern>/announce</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UploadAssignmentController</servlet-name>
  	<url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowAssignmentsController</servlet-name>
  	<url-pattern>/assignments</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AssignmentDetailController</servlet-name>
  	<url-pattern>/ass_detail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UploadLectureController</servlet-name>
  	<url-pattern>/uploadLec</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowLectureController</servlet-name>
  	<url-pattern>/lectures</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UploadDocumentController</servlet-name>
  	<url-pattern>/uploadDoc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UploadQuizController</servlet-name>
  	<url-pattern>/uploadQuiz</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowQuizController</servlet-name>
  	<url-pattern>/quizzes</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>ChangePassController</servlet-name>
  	<url-pattern>/cp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
 	<servlet-name>ShowProfileController</servlet-name>
  	<url-pattern>/showProfile</url-pattern>
   </servlet-mapping>
  
</web-app>
